<section class="pricing-section">
    <h2>Our Pricing</h2>
    <p>Choose the plan that fits your fitness journey.</p>
  
    <div class="pricing-cards">
      <div class="pricing-card">
        <h3>Foam Roller</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- International Certification</li>
          <li>- 24*7 support on whatsapp</li>
          <li>- ajun kahi add keraych asel tar sanga</li>
          <li><b>Note :"hite kahi add keraych asel tar sanga"</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>
  
      <!-- <div class="pricing-card popular">
        <h3>Standard Plan</h3>
        <p class="price">₹1499 / month</p>
        <ul>
          <li>- Wokout Plan As Per Your Goal</li>
          <li>- Customized Diet-Plan</li>
          <li>- Monthly Check-ins</li>
          <li>- 24/7 Whatsapp-Support📱</li>
          <li><b>Note :"Every diet and workout plan is carefully tailored to your health status and medical conditions to ensure safe, effective, and lasting results."</b></li>
        </ul>
        <button (click)="openModal('Standard Plan')">Choose Plan</button>
      </div> -->

      <div class="pricing-card">
        <h3>Suspension Training</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- International Certification</li>
          <li>- 24*7 support on whatsapp</li>
          <li>- ajun kahi add keraych asel tar sanga</li>
          <li><b>Note :"hite kahi add keraych asel tar sanga"</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>

      <div class="pricing-card">
        <h3>Resistance Band</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- International Certification</li>
          <li>- 24*7 support on whatsapp</li>
          <li>- ajun kahi add keraych asel tar sanga</li>
          <li><b>Note :"hite kahi add keraych asel tar sanga"</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>

      <div class="pricing-card">
        <h3>Kettle-Bell</h3>
        <p class="price">₹2999 /-</p>
        <ul>
          <li>- International Certification</li>
          <li>- 24*7 support on whatsapp</li>
          <li>- ajun kahi add keraych asel tar sanga</li>
          <li><b>Note :"hite kahi add keraych asel tar sanga"</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>
      
  
      <div class="pricing-card">
        <h3>Coming Soon Courses</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- International Certification</li>
          <li>- 24*7 support on whatsapp</li>
          <li>- ajun kahi add keraych asel tar sanga</li>
          <li><b>Note :"hite kahi add keraych asel tar sanga"</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>


    </div>

    

    <app-checkout-modal
  *ngIf="isModalOpen()"
  [planName]="selectedPlan()"
  (close)="closeModal()"
></app-checkout-modal>
  </section>
  