<section class="reviews-section">
    <h2 class="heading">Client Reviews</h2>
  
    <div class="review-container">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="img-container">
          <img [src]="review.image" alt="{{ review.name }}" class="client-img" />
        </div>
        <h3>{{ review.name }}</h3>
        <p class="stars">
          <span *ngFor="let star of [].constructor(review.rating)">⭐</span>
        </p>
        <p class="text">"{{ review.review }}"</p>
      </div>
    </div>
  </section>
  