<section class="coaches-section">
    <h2>Our Coaches</h2>
    <div class="coach-list">
      <div class="coach-card" *ngFor="let coach of coaches">
        <img [src]="coach.image" [alt]="coach.name" />
        <h3>{{ coach.name }}</h3>
        <p>{{ coach.role }}</p>
        <small><b>Specialization</b>: {{ coach.specialization }}</small><br>
        <small><b>Certification</b>: {{ coach.certification }}</small>
        <div class="social-links">
          <a *ngIf="coach.social.instagram" [href]="coach.social.instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a *ngIf="coach.social.facebook" [href]="coach.social.facebook" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  